.container{
  width: 375px;
  background-color: var(--main-text);

  padding: 90px 16px 56px;
}

.list{
  display: flex;
  flex-direction: column;
  gap: 24px;


}

.item{
  color: var(--main-bg);
  cursor: pointer;
}

.item1{
  color: var(--main-bg);
  cursor: pointer;

  text-decoration:underline;
}

.box{
margin-top: 184px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}