.container {
  margin-bottom: 112px;
}

.title {
  font-weight: 200;
  font-size: 48px;
  line-height: 54px;
}

.NewProductsBtn {
  background-color: var(--main-text);
  color: var(--main-bg);
  border: none;
  padding: 8px 40px;
  border-radius: 8px;
  margin-top: 24px;
  margin-bottom: 24px;
  transition: all 0.3s ease;
}

.NewProductsBtn:hover,
.NewProductsBtn:focus {
  background-color: #434040;
  outline: none;
}

@media (min-width: 768px) {
  .containerBtn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
