.container {
  border-top: 1px solid var(--disabled-color);
  width: 375px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 768px) {
  .containerText {
    width: 768px;
    display: flex;
    align-items: baseline;
  }
}

.containerSchedule {
  margin-top: 40px;
  margin-bottom: 24px;
}

.phone {
  font-family: 'IstokWeb-Bolt', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.phone:hover,
.phone:focus {
  color: var(--accent);
  outline: none;
}

.text {
  font-family: 'IstokWeb-Bolt', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}

.schedule {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

.svgList {
  gap: 20px;
  display: flex;
  align-items: center;
}

.iconInst {
  width: 25px;
  height: 25px;
  fill: white;
  stroke: black;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.iconInst:hover,
.iconInst:focus {
  stroke: var(--accent);
  outline: none;
}

.iconTg {
  width: 28px;
  height: 28px;
  fill: black;
  stroke: white;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.iconTg:hover,
.iconTg:focus {
  fill: var(--accent);
  outline: none;
}

.iconFc {
  width: 28px;
  height: 28px;
  fill: black;
  stroke: white;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.iconFc:hover,
.iconFc:focus {
  fill: var(--accent);
  outline: none;
}

.category {
  margin-bottom: 24px;
}

.title {
  font-family: 'IstokWeb-Bolt', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

.categoryList {
  gap: 4px;
  display: flex;
  flex-direction: column;
}

.categoryLink {
  color: var(--disabled-color);
  font-size: 16px;
  line-height: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.categoryLink:hover,
.categoryLink:focus {
  color: var(--accent);
  outline: none;
}

.info {
  margin-bottom: 40px;
}

.footer {
  background-color: var(--main-text);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.iconC {
  width: 16px;
  height: 16px;
}

.textT {
  font-size: 16px;
  line-height: 24px;
  color: var(--accent);
}
