@import "../node_modules/modern-normalize/modern-normalize.css";

/* Fonts */

@font-face {
  font-family: "KyivType Sans";
  src: url("./fonts/KyivTypeSans-VarGX.ttf") format("truetype");
}

@font-face {
  font-family: "IstokWeb-Regular";
  src: url("./fonts/IstokWeb-Regular.ttf") format("truetype");
}

/* Colors */

:root {
  --container-width: 100%;
  --accent: #b8ef5b;
  --main-text: #242222;
  --main-bg: #fffefd;
  --erorr: #c22b2b;
  --hover-color: #5f5f5f;
  --disabled-color: #c0baba;
}

/* Style */

body {
  font-family: "IstokWeb-Regular", sans-serif;
  background-color: var(--main-bg);
  color: var(--main-text);
  font-weight: 400;
  width: 100%;
  height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "KyivType Sans", sans-serif;
  margin: 0;
}

p button {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}

.layoutContainer {
  width: var(--container-width);
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 375px) {
  :root {
    --container-width: 375px;
  }
  .layoutContainer {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.no-scroll {
  overflow: hidden;
}
