.list {
  display: flex;
  gap: 24px;
}

.icon {
  width: 24px;
  height: 24px;
  fill: white;
  stroke: black;
  transition: all 0.3s ease;
}

.icon:hover,
.icon:focus {
  stroke: var(--accent);
  outline: none;
}

.iconUser {
  width: 24px;
  height: 24px;
  fill: black;
  stroke: white;
  transition: all 0.3s ease;
}

.iconUser:hover,
.iconUser:focus {
  fill: var(--accent);
  outline: none;
}
